.footer {
  padding-top: 80px;
  background-color: #09142e;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  &__nav {
    color: white;
    padding: 10px;
  }

  &__rights {
    margin: 70px auto;
    font-size: 14px;
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.212);
  }
}
