.header {
  background-image: url(../images/back_small2.webp), url(../images/back_small.webp), url(../images/city.webp);
  background-size: 200% auto, 100% auto, auto auto;
  background-position: top 1% center, top 30% left 1%, bottom;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: fit-content;
  position: relative;

  @include notMobile {
    padding-top: 25px;
    background-size: 110% auto, 50% auto, 100% auto;
    background-position: top 1% center, top 30% left 1%, bottom;
  }

  &__top {
    height: 60px;
    width: 100%;
    padding-top: 54px;
    padding-right: 20px;
    padding-left: 70px;
    padding-bottom: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;

    @include onTablet {
      padding-top: 63px;
      padding-left: 70px;
    }

    @include onBigTablet {
      padding-top: 63px;
      padding-left: 70px;
    }

    @include onDesktop {
      padding-top: 63px;
      padding-right: 180px;
      padding-left: 202px;
    }
  }

  &__bottom {
    padding-left: 10%;
    width: 100vw;
    display: flex;
  }

  &__text {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: $color-grey;
    line-height: 28px;
    margin-bottom: 30px;

    @include onTablet {
      font-size: 14px;
    }

    @include onBigTablet {
      font-size: 16px;
    }

    @include onDesktop {
      font-size: 18px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include notMobile {
      flex-direction: row;
    }

    &-watch {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: $color-blue;
      transition: transform 0.3s;

      &:hover {
        transform: scale(120%);
      }

      @include notMobile {
        padding-left: 20px;
        padding-top: 0;
      }
    }
  }

  &__left {
    padding-top: 15%;
    width: 55%;

    @include onTablet {
      width: 60%;
    }

    @include onBigTablet {
      width: 100%;
    }

    @include onDesktop {
      width: 115%;
    }

  }

  &__right {
    width: 100%;
    margin-bottom: -25%;
    margin-right: 5%;
    background-image: url(../images/phone1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: zoom-out 3s linear forwards;

    @include notMobile {
      background-position: bottom right;
    }

    @include onDesktop {
      margin-bottom: -15%;
      margin-right: 15%;
    }
  }
}

h1 {
  margin: 10px 0;
  font-size: 30px;
  line-height: 1.25;
  font-family: "Poppins";
  color: $color-deepblue;
  font-weight: bold;
  animation: zoom-out 3s linear forwards;

  @keyframes zoom-out {
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @include onTablet {
    font-size: 50px;
  }

  @include onBigTablet {
    font-size: 55px;
  }

  @include onDesktop {
    font-size: 60px;
  }
}

