.header {
  background-image: url(../images/phone1.png), url(../images/back_small2.png), url(../images/back_small.png), url(../images/city.png);
  background-size: auto 35%, 200% auto, 100% auto, auto auto;
  background-position: bottom 5% right 50%, top 1% center, top 30% left 1%, bottom;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: fit-content;
  animation: zoom-out 3s linear forwards;

  @keyframes zoom-out {
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @include notMobile {
    padding-top: 25px;
    background-size: 32% auto, 110% auto, 50% auto, 100% auto;
    background-position: bottom 20% right 10%, top 1% center, top 30% left 1%, bottom;
  }

  &__top {
    height: 60px;
    width: 100%;
    padding-top: 54px;
    padding-right: 20px;
    padding-left: 70px;
    padding-bottom: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;

    @include onTablet {
      padding-top: 63px;
      padding-right: 250px;
      padding-left: 70px;
    }

    @include onBigTablet {
      padding-top: 63px;
      padding-right: 180px;
      padding-left: 100px;
    }

    @include onDesktop {
      padding-top: 63px;
      padding-right: 180px;
      padding-left: 202px;
    }
  }

  &__bottom {
    padding-top: 15%;
    padding-left: 10%;
    width: 355px;
    display: flex;

    @include onTablet {
      width: 555px;
    }

    @include onBigTablet {
      width: 655px;
    }

    @include onDesktop {
      width: 755px;
    }

  }

  &__text {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: $color-grey;
    line-height: 28px;
    margin-bottom: 30px;

    @include onTablet {
      font-size: 14px;
    }

    @include onBigTablet {
      font-size: 16px;
    }

    @include onDesktop {
      font-size: 18px;
    }
  }

  &__links {
    display: flex;
    align-items: center;

    &-watch {
      padding-left: 20px;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: $color-blue;
      transition: transform 0.3s;

      &:hover {
        transform: scale(120%);
      }
    }
  }

  &__right {
    margin: -50px auto ;
    width: 50px;
  }

  &__phone {
    max-height: 80%;
    max-width: 250px;

    @include onTablet {
      max-width: 280px;
    }

    @include onBigTablet {
      max-width: 300px;
    }

    @include onDesktop {
      max-width: 350px;
    }
  }
}

h1 {
  margin: 10px 0;
  font-size: 40px;
  font-family: "Poppins";
  color: $color-deepblue;
  font-weight: bold;

  @include onTablet {
    font-size: 50px;
  }

  @include onBigTablet {
    font-size: 55px;
  }

  @include onDesktop {
    font-size: 60px;
  }
}

