.section {
  position: relative;
  z-index: 10;
  height: fit-content;

  &__companies {
    background-image: url();
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include notMobile {
      margin-top: 120px;
    }

    &-text {
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      color: $color-deepblue;
      margin-top: 0;

      @include notMobile {
        font-size: 16px;
      }
    }

    &-logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__image {
    height: 50px;
    width: auto;
    margin: 15px;

    @include notMobile {
      margin: 35px;
    }
  }

  &__features {
    background-image: url(../images/feature_img.png);
    background-size: 47% auto;
    background-position: top left;
    background-repeat: no-repeat;

    margin-top: 40px;
    display: flex;
    flex-direction: column;


    @include notMobile {
      margin-top: 70px;

    }

    &-title {
      font-size: 26px;
      font-family: "Poppins", sans-serif;
      color: $color-deepblue;
      font-weight: bold;
      line-height: 1.278;
      margin-left: 45%;
      margin-bottom: 0;

      @include notMobile {
        font-size: 36px;
      }
    }

    &-text {
      font-size: 11px;
      font-family: "Poppins", sans-serif;
      color: $color-grey;
      line-height: 1.625;
      margin-left: 45%;
      margin-top: 20px;
      margin-bottom: 0;

      @include notMobile {
        font-size: 16px;
        margin-top: 30px;
      }
    }

    &-explain {
      margin-left: 45%;
      margin-top: 50px;
      display: flex;
      flex-direction: column;

      @include notMobile {
        margin-top: 100px;
      }
    }

    &-name {
      margin-top: 0;
      margin-bottom: -3%;
      font-size: 14px;
      font-family: "Poppins",sans-serif;
      font-weight: bold;
      line-height: 2.9;
      margin-left: 25%;

      &:nth-child(1) {
        color: $color-red;
      }

      &:nth-child(4) {
        color: $color-blue;
      }

      &:nth-child(6) {
        color: $color-green;
      }

      @include notMobile {
        font-size: 20px;
        margin-left: 20%;
        margin-bottom: -5%;

      }
    }

    &-about {
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      color: $color-grey;
      line-height: 1.625;
      margin-left: 25%;
      margin-top: -12%;

      @include notMobile {
        font-size: 16px;
        margin-left: 20%;
        margin-top: -7%;
      }
    }

    &-jackpots {
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 3%;
      display: flex;
      justify-content:space-between;
      align-items: center;

      font-size: 24px;
      font-family: "Poppins";
      color: $color-deepblue;
      font-weight: bold;
      line-height: 1.25;

      @include notMobile {
        font-size: 40px;
        margin-left: 12%;
        margin-right: 5%;

      }

      &--text {
        font-size: 10px;
        font-family: "Poppins";
        color: $color-grey;
        line-height: 1.625;

        @include notMobile {
          font-size: 16px;
        }
      }

      &--container {
        display: block;
        max-width: 100%;
        margin: 5% 10%;
        height: auto;
      }

      &--img {
        height: auto;
        width: 100%;
        object-fit: fill;
      }
    }
  }

  &__pricing {
    &--container {
      display: flex;
      max-width: 100%;
      margin: 5% 10%;
      height: auto;
    }

    &--img {
      height: auto;
      width: 60%;
      object-fit: fill;
      margin: auto;
    }
  }

  &__testimonial {
    &--container {
      display: flex;
      max-width: 100%;
      margin: 5% 10%;
      height: auto;
    }

    &--img {
      height: auto;
      width: 100%;
      object-fit: fill;
      margin: auto;
    }
  }

  &__faq {
    &--container {
      display: flex;
      max-width: 100%;
      margin: 5% 10%;
      height: auto;
    }

    &--img {
      height: auto;
      width: 80%;
      object-fit: fill;
      margin: auto;
    }
  }

  &__try {
    &--container {
      display: flex;
      max-width: 100%;
      margin: 5% 10%;
      height: auto;
    }

    &--img {
      height: auto;
      width: 100%;
      object-fit: fill;
      margin: auto;
    }
  }

}

.img-container {
  display: flex;
  height: 80px;
  width: 80px;
  border: 1px solid transparent;
  border-radius: 50%;

  &:nth-child(2) {
    background-color: #ffecef;
  }

  &:nth-child(5) {
    background-color: #f4f4ff;
  }

  &:nth-child(8) {
    background-color: #e4ffee;
  }

}

img.red,
img.blue,
img.green {
object-position: center;
object-fit: contain;
margin: auto;
}

