.section {
  position: relative;
  z-index: 10;
  height: fit-content;

  &__companies {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include notMobile {
      margin-top: 120px;
    }

    &-text {
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      color: $color-deepblue;
      margin-top: 0;

      @include notMobile {
        font-size: 16px;
      }
    }

    &-logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__image {
    height: 50px;
    width: auto;
    margin: 15px;

    @include notMobile {
      margin: 35px;
    }
  }
}

